footer {
    margin-top: 4rem;
    max-width: 1440px;
    height: 559px;
    margin: 0 auto;
    background: url(../../images/vecteezy_interior-of-a-modern-living-room-in-3d-rendering_2070138\ 1.png);
    opacity: 0.5;
}

.footer__title {
    color: #000000;
    font-family: Potta One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.575px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4rem;
}

.line {
    display: flex;
    justify-content: space-around;
}

.card__title {
    text-decoration: none;
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 224.682%;
    /* 53.924px */
    letter-spacing: -0.84px;
}

.card__link {
    display: flex;
    color: #8A8A8A;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 224.682%;
    /* 44.936px */
    letter-spacing: -0.7px;
    text-decoration: none;
    
}
.links__cardOne{
    width: 10rem;
    height: 20rem;
}